body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #afafaf;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
    position: relative;
    background: url(img/cueroNegro.jpg) center/cover no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

/*CONTENEDOR PRINSIPAL*/
.background-container {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url('img/fondo3.jpg') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('img/fondo3.jpg') center/cover no-repeat fixed;
    background-position: center top;
}

.imgLogoBiblioteca {
    width: 35%;
    height: auto;
}
.animated-text {
    font-size: 3em;
    text-align: center;
    animation: fadeIn 3s ease-in-out  alternate;
}

.animated1-text {
    font-size: 2em;
    text-align: center;
    animation: fadeIn 3s ease-in-out  alternate;
    color: #76e7de;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animated-text8 {
    font-size: 3em;
    text-align: center;
    animation: moveText 1s infinite alternate;
    color:  #76e7de;
    font-weight: bold; /* Puedes ajustar el valor según tus preferencias, por ejemplo: bold, bolder, 600, 700, etc. */
    border: none;
    background: none;
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px); /* Ajusta según la distancia de movimiento */
    }
}

.container{
    border: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #e5b48a;
}
.imgLogoBiblioteca{
    max-width: 100%;
    height: auto;
}

.informacion{
    text-align: center;
}

.filaDerecha{
    border-left: 1px solid black;
    padding-left: 10px;
}

.panelAdm{
    text-align: center;
}
.cargaPublicacion {
    text-align: center;
}

.formPublicacion {
    border: 1px solid activeborder;
    width: 70%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    background-image: url(./img/hojaRayada.jpg); /* Añadido para establecer la imagen de fondo */
    background-size: cover; /* Añadido para asegurarse de que la imagen cubra todo el fondo */
}


.imagenPreviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjetImg {
    width: 150px;
    height: auto;
    padding: 10px;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    flex: 0 0 calc(25% - 20px); /* 25% - (márgenes a ambos lados) */
}

.secNotImg {
    width: 100%;
    height: auto;
    padding: 5px;
}

.textoImg {
    color: white;
    font-size: 10px;
    margin: 0;
}

.tarjetImg.seleccionada {
    border: 2px solid #007bff;
}
.tarjetImg {
    position: relative;
}

.seleccionarImagen {
    position: absolute;
    top: 5px;
    right: 5px; /* Ajusta la posición desde la derecha */
    width: 20px; /* Ajusta el ancho del checkbox */
    height: 20px; /* Ajusta la altura del checkbox */
}
.formDeImg {
    max-width: 400px;
    margin: 0 auto;
    background-color:  #363942;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario {
    display: grid;
    gap: 10px;
}

.campoFormulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="file"],
input[type="text"],
input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;

}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;

}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-label{
    color: black;
    opacity: 0.8;
}

.botonEliminar,
.botonPublicar,
.botonConfirmar {
    display: none;
}

.imagenSeleccionable {
    display: inline-block;
    margin: 10px;
    width: 150px; /* Ajusta el ancho según lo necesites */
    position: relative; /* Establece el posicionamiento relativo para el contenedor */
}

.imagenSeleccionable img {
    width: 100%; /* Haz que la imagen ocupe el 100% del contenedor */
    height: auto; /* Mantén la proporción de aspecto */
    border: 1px solid #ccc; /* Añade un borde a las imágenes si lo deseas */
}

/* Añade un poco de espacio alrededor del checkbox */
.imagenSeleccionable input[type="checkbox"] {
    position: absolute; /* Establece el posicionamiento absoluto */
    top: 0; /* Coloca el checkbox en la esquina superior */
    right: 0; /* Coloca el checkbox en la esquina derecha */
}
.logoRedSocial{
    width: 5%;
    height: 5%;
    min-width: 40px;
    min-height: 40px;
    margin:10px;
}
.rSocial {
    margin-top: 50px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redSocial{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 200px
}

/*formulario de pubicacion*/
.form-publicacion {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto; /* Centrar en el eje horizontal */
}

.form-title {
    text-align: center;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-submit {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}

/*imagen dentro del formulario */
.contenedorCuadricula {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.tarjetaImagen {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tarjetaImagen img {
    max-width: 100%;
    height: auto;
}

/* contenedor de imagen de la noticia en el inde*/
.contenedor-imagenes{
    border: solid #333;
    border-radius: 3%;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.noticia-texto {
    font-size: 18px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    color: #333; /* Color del texto */
    text-align: justify; /* Justificar el texto */
    /* Otros estilos que desees agregar */
}



.fecha-publicacion {
    text-align: right;
}

.d-grid.gap-2.d-md-block {
    margin-bottom: 50px; /* Ajusta el valor según sea necesario */
}

/* FORMULARIO DE COMENTARIO */
[id^="formulario_"] {
    position: relative;
}

.form-control {
    width: calc(100% - 10px);
    margin-bottom: 10px;
}

.enviarBtn {
    position: absolute;
    margin: 20px;
    bottom: 0px;
    right: 0;
}

/*COMENTARIO EN PANTALLA */
.comentario-container {
    width: 90%;
    margin-bottom: 5px; /* Ajusta el espacio entre comentarios */
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: rgba(54, 57, 66, 0.8); /* Color con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Utilizar flexbox para organizar elementos en fila */
    align-items: center; /* Centrar verticalmente los elementos en el contenedor */
    padding: 3px;
}

.comentario-nombre {
    text-align: left;
    font-size: 16px;
    color: #007bff;
    text-decoration: underline;
}

.nombre-con-dos-puntos {
    display: inline-block;
}

.comentario-mensaje {
    color: #ccc;
    text-align: left;
    margin-left: 15px; /* Ajuste para el espacio entre el nombre y el mensaje */
    font-size: 14px;
}

.cerrarBtnContainer {
    float: right;
}
.numeroConetador {
    font-size: 13px;
    color: red;
    position: relative;
    display: inline-flex;
    align-items: center;
    left: -2px;
    top: -7px;
}

/*BOTON EN COMENTARIO*/
.respuestaComentario {
    margin-left: auto; /* Empujar el botón hacia la derecha */
}
/*FORMUALARIO COMENTARIO */
.fromularioComentario{
    display: none;
    margin-top: 10px;
    width: 60%;
    border: 1px solid  #333;
    border-radius: 5px;
    z-index: 2;
}

/*RESPUESTA EN PANTALLA */
.respuesta-container {
    width: 90%;
    margin-bottom: 5px; /* Ajusta el espacio entre comentarios */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(218, 215, 206, 0.8); /* Color con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Utilizar flexbox para organizar elementos en fila */
    align-items: center; /* Centrar verticalmente los elementos en el contenedor */
    padding: 3px;
    margin-left: auto; /* Desplazar el contenedor hacia la derecha */
}

.respuesta-nombre {
    text-align: left;
    font-size: 16px;
    color:  goldenrod;
    text-decoration: underline;
}

.nombre-con-dos-puntos {
    display: inline-block;
}

.respuesta-mensaje {
    color:  #333;
    text-align: left;
    margin-left: 15px; /* Ajuste para el espacio entre el nombre y el mensaje */
    font-size: 14px;
}
.botonMostrarRespuestas{
    float:  right;
    border: none;
    background: none;
}

/*FORMUALARIO RESPUESTA */
.fromularioRespuesta{
    display: none;
    margin-top: 10px;
    width: 60%;
    border: 1px solid  #333;
    border-radius: 5px;
    z-index: 2;
}

.separacionDeNoticias{
    margin-top: 10px;
}



/*BOTON FLOTANTE PARA IR AL PRINCIPIO DE LA PAGINA*/
#floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}




/* ESTILO DE IMAGEN DE PUBLICIDAD */
 .carousel-container {
    background-color: rgba(54, 57, 66, 0.8); 
    padding: 15px;
}

   .carousel-image {
     
        width: 100%;
        height: 150px;
        object-fit: contain;
    }

/* BOTON DE COMPARTIR */
.BotonesDeCompartir{
    background-color:  #cccc00;
    display: none;
    z-index: 2;
}

.botonFace{
    border: none;
}

.botonWhat{
    border:none;
}

.content {
    margin-top: 200px;
    text-align: center;
}

/* Añade estilos para la barra fija */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar.transparent-bg {
    background-color: transparent;
    padding: 5px 0;
}

.bordeTarjeta{
    border: 3px solid  #333;
    border-radius: 5px;
}

/* ESTILO RESOLUCION MENOR A 768px*/
@media(max-width:768px){
    .d-grid.gap-2.d-md-block {
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */
    }
}